name: Auto fmt
on: [push]
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.1.6
    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'
        cache: false
      id: go
    - name: cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Run fmt
      run: make fmt
    - name: Run git diff
      id: diff
      run: git diff --name-only --exit-code
      continue-on-error: true
    - name: Commit and push if fmt changes code
      run: |
        set -ex
        git config user.name github-actions[bot]
        # Use this email to show icon in commit view.
        git config user.email github-actions[bot]@users.noreply.github.com
        git add .
        git commit -m 'Auto fmt'
        git push
      if: steps.diff.outcome == 'failure'
